body {
	background-color: #eee;
}


.container {
	margin: 40px 0;
}


.main {
	display:flex;
	justify-content: space-between;
	height:100vh;
	margin-bottom: 30px
}

.about-area img {
	max-width:600px;
	max-height: 600px;
	width:100%;
	height:100%;
}

figure {
	display: flex;
	flex-direction: column;
}
