{% extends "layouts/base.html" %}
{% block content %}
    <div class="main">
        <div class="song-area">
        <h2>{{data['title']}}</h2>
        <pre class="">
{{data['song']}}
        </pre>
        </div>
        <div class="about-area">
            <figure>
                <img src="{{url_for('static', filename='img/ajzak.jpeg')}}" alt="Ajzak">
                <caption>Ajzak</caption>
            </figure>
        </div> 
    </div>
{% endblock %}
