<h2 id="kako-radi">Kako radi ?</h2>
<p>Svako učitvanje stranice generiše novu pesmu. Generisanje se realizuje uz pomoć <a href="https://en.wikipedia.org/wiki/Markov_chain">Markovljevih lanaca</a>. Markovljevi Lanci se dosta koriste u programiranju i jako su korisni za generisanje stvari na osnovu postojećih. Na primer, tekst, muzika, slike… Objasniću na primeru teksta kako rade.</p>
<p>Cilj Markovljevog Lanca jeste da mu mi damo jednu reč i on nam kaže sledeću. To radi tako što napravi jednu “tabelu” gde imamo sve reči i procente koja reč dolazi posle. Najbolje se vidi na primeru:</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: left;">reč|reč1 |rec2|rec3|….|</td>
</tr>
<tr class="even">
<td style="text-align: left;">Da | li 80%| dođem 10%| vidim 10%|</td>
</tr>
<tr class="odd">
<td style="text-align: left;">li | želiš 60%| hoćeš 20%| možeš 20%|</td>
</tr>
<tr class="even">
<td style="text-align: left;">…|….|…|….|</td>
</tr>
</tbody>
</table>
<p>U kodu ovo izgleda kao rečnik(mapa) gde su ključevi reči a vrednosti su nizovi sledećih reči, ukoliko je šansa 20% da dodje neka reč onda se ona ponavlja 20% puta u tom nizu. Opet najbolje se vidi na primeru. Gornja tabela prikazana u strukuturi rečnika:</p>
<pre><code>da : [&quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;li&quot;, &quot;dođem&quot;, &quot;vidim&quot;]
li : [&quot;želiš&quot;, &quot;želiš&quot;, &quot;želiš&quot;, &quot;želiš&quot;, &quot;želiš&quot;, &quot;želiš&quot;, &quot;hoćeš&quot;,&quot;hoćeš&quot;, &quot;možeš&quot;, &quot;možeš&quot;]
....</code></pre>
<p>Ovo koristimo tako što nasumično odaberemo jednu reč iz rečnika na osnovu zadate reči, i onda naravno imamo X% šansi da dobijemo tu i tu reč. Prvo napravimo tekst na osnovu koga ćemo generisati nove tekstove, u ovom slučaju sam iskopirao 10-ak pesama Ajs Nigrutina u jedan fajl.I napisao sam funkcju koja na osnovu teskta generiše Markovljev Lanac na gore pomenut način. Evo koda te funkcije ispod:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode python"><code class="sourceCode python"><a class="sourceLine" id="cb2-1" title="1"><span class="kw">def</span> make_chain_v2(words) <span class="op">-&gt;</span> <span class="bu">dict</span>:</a>
<a class="sourceLine" id="cb2-2" title="2">    chain <span class="op">=</span> defaultdict(<span class="bu">list</span>)</a>
<a class="sourceLine" id="cb2-3" title="3">    <span class="cf">for</span> (i, word) <span class="kw">in</span> <span class="bu">enumerate</span>(words[:<span class="op">-</span><span class="dv">1</span>]): <span class="co"># prolazimo kroz svaku reč</span></a>
<a class="sourceLine" id="cb2-4" title="4">        chain[word].append(words[i<span class="op">+</span><span class="dv">1</span>]) <span class="co"># dodamo sledeću reč u listu</span></a>
<a class="sourceLine" id="cb2-5" title="5">    chain <span class="op">=</span> <span class="bu">dict</span>(chain)</a>
<a class="sourceLine" id="cb2-6" title="6">    <span class="cf">return</span> chain</a></code></pre></div>
<p>Ceo kod ovog generatora dostupan je <a href="https://gitlab.com/stevan95/ajzak">ovde</a>, možete ga slobodno menjati, dorađivati i prerađivati. Ukoliko primetite neki bag slobodno javite preko gitlab platoforme, ako napravite neki dodatak isto javite i dodajte svoje ime u <code>CONTRIBUTORS.md</code> fajl. Kod je napravljen da radi kao veb aplikacija, ali je suština u <code>generator.py</code> fajlu gde se nalaze funkcije za generisanje Markovljevog Lanca, stiha, strofe i pesme. Jako lako se izmeni da generiše nešto drugo, samo promenite <code>pesme.txt</code> fajl ili izmenite kod da čita sa drugog mesta.</p>
<h2 id="dodatni-materijali">Dodatni materijali</h2>
<p>Za kraj evo još malo materijala koji mogu da pomognu u izučavanju Markovljevih Lanaca i obrade teksta.</p>
<ul>
<li><a href="https://towardsdatascience.com/introduction-to-markov-chains-50da3645a50d">Introduction to Markov Chains</a></li>
<li><a href="https://www.youtube.com/watch?v=xvqsFTUsOmc">Natural Language Processing in Python</a></li>
<li><a href="https://www.youtube.com/watch?v=eGFJ8vugIWA">Coding Challenge #42.1: Markov Chains - Part 1</a></li>
</ul>
