<header class="header">
	<h1>Generator Pesama Ajs Nigrutina</h1>
	<nav>
		<ul class="nav-list">
			<li><a href="/">Nova pesma</a></li>
			<li><a href="/kako-radi">Kako radi ?</a></li>
			<li><a href="https://gitlab.com/stevan95/ajzak">Kod</a></li>
		</ul>
	</nav>
</header>
