<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
		<title>Ajzak</title>
	</head>
    <body>
		<div class="container">
			{% include "includes/header.html" %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
